.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

.jumbotron {
    margin-bottom: 0;
}

footer {
    margin-top: 50px;
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 25px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.container {
    margin-top: 50px;
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}
