.center-absolute {
  position: absolute;
  top: 30%;
  left:40%;
}
.center-relative {
  position: relative;
  top: 40%;
  left:35%;
}

.table-item-label-style {
  padding-top: 10px;
  text-align: right;
  width: 100px;
}
.table-confirm-password-style{
  padding-top: 10px;
  text-align: right;
  width: 150px;
}
.table-item-data-style {
  padding-top: 10px;
  padding-left: 5px;
}
.login-page-background{
  background-image: url("/images/home.jpg");
}
.long-width {
  width: 200px;
}
.height-30 {
  padding-top: 30px;
}
