 <div class="row">
    <div class="col-md-12" ng-show="Items.length > 0">

    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-Item/0">&nbsp;Add new item</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>item Name&nbsp;</th>
        <th>Type&nbsp;</th>
        <th>Price&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in Items">
                <td>{{data.name}}</td>
                <td>{{data.type}}</td>
                <td>{{data.price}}</td>
                <td><a href="#/edit-Item/{{data.iditem}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit item</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="Items.length == 0">
        <div class="col-md-12">
            <h4>No items found</h4>
        </div>
    </div>
</div>
