<div style="background-image: url('/images/home.jpg');">
    <div class="panel panel-primary center-absolute">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <table>
                <tbody>
                <tr>
                    <td><span class="height-30">&nbsp;</span></td>
                    <td><span class="height-30">&nbsp;</span></td>
                </tr>
                <tr>
                    <td class="table-item-label-style">
                        Email Id
                    </td>
                    <td class="table-item-data-style">
                        <input class="long-width" type="text" name="emailAddress" placeholder="Email">
                    </td>
                </tr>
                <tr>
                    <td class="table-item-label-style">
                        Password
                    </td>
                    <td class="table-item-data-style">
                        <input class="long-width" type="password" name="password" placeholder="*******">
                    </td>
                </tr>
                <tr>
                    <td class="table-item-data-style">
                    </td>
                    <td class="table-item-data-style">
                        <button class="btn btn-primary" type="button">Edit</button>
                        <button class="btn btn-primary" type="button">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><span class="height-30">&nbsp;</span></td>
                    <td><span class="height-30">&nbsp;</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
